*.py linguist-language=Python linguist-generated=false
*.ipynb linguist-language=Python linguist-documentation=false  linguist-generated=false
*.yaml linguist-language=Yaml
*.sh linguist-language=Shell
*.ipynb linguist-detectable=false
