* linguist-language=Python
** linguist-language=Python
*.py linguist-language=Python
*.ipynb linguist-language=Python
*.yaml linguist-language=Yaml
*.sh linguist-language=Shell
*.ipynb linguist-detectable=false
